SERVER = 'http://apicn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = '53be9b633bb82550bdc5d1c605b37bfc'
API_SECRET = 'wo7ybQRLFIVL-yqZeLTE-d_pAUP9ssYj'
